<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task 4A: Test AI Model</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>

  <div class="sticky-top end-0 pe-4" style="background-color: aliceblue;">
    <p class="text-end fs-6 fw-light text-secondary">Utility to test new AI Models for Task 4A developed by Pranjal Rastogi | v<span>{{
        version }}</span></p>
  </div>

  <div class="container mt-4" style="width: 60vw">

    <h1>Test a new AI Model for Task 4A</h1>

    <h2>Upload Model (Part 1 of 2)</h2>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form method=post enctype=multipart/form-data id="mainform">

      <div class="mb-3">
        <label class="form-label" for="inputFile" aria-describedby="fileHelp">Model File:</label>
        <input class="form-control" type="file" name="file" id="inputFile">
        <div id="fileHelp" class="form-text">Please upload the weights or the entire model, however you want to use it.
          You will describe how to use it next.</div>
      </div>
      <div class="mb-3">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" name="unzip" id="toUnzip">
          <label class="form-check-label" for="toUnzip" aria-describedby="unzipHelp">Unzip model (only works for <span
              class="font-monospace">.zip</span>
            archives)</label>
        </div>
      </div>
      <button class="btn btn-primary" type=submit>Next</button>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>